<tbody>   
  <tr>
    <th><%= "メモ#{@selected_content["id"]}" %></th>
    <th><%= @selected_content["todo"]%></th>
    <th><%= @selected_content["detail"]%></th>
  </tr>
</tbody>

<form action="/edit/<%= @selected_content["id"] %>" method="GET">
  <input  type="submit" class="btn btn-outline-primary" value="変更">
  <input name="todo" id="todo" type=hidden value=<%=  @selected_content["todo"]%> >
  <input name="detail" id="detail" type=hidden value=<%=  @selected_content["detail"]%> >
</form>

<form action="/delete/<%= @selected_content["id"] %>" method="POST">
  <input  type="submit" class="btn btn-outline-primary" value="削除">
  <input type="hidden" name="_method" value="DELETE"> <!-- この1行を追加！ -->
</form>